<h1><%= @restaurant.name %></h1>
Address      : <%= @restaurant.address %> <br>
Phone number : <%= @restaurant.phone_number %> <br>
Food style   : <%=  @restaurant.category %> <br>
<br>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
     <%= review.created_at&.strftime("%d %m %y") %> - <%= review.content %>
     <br>Note: <%=review.rating %>
      <%= %>
    </li>
  <% end %> <br><br>
  <h3>Add a review !</h3>
  <%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
</ul>
